.button {
    background-color: var(--secondary-color);
    cursor: pointer;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem;

    &:hover {
        filter: brightness(0.8);
    }

    &:disabled {
        filter: grayscale(0.5);
    }
}

.textarea {
    color: var(--font-color);
    background-color: var(--input-color);
    border: 0.2rem solid var(--input-color);
    padding: 0.2rem;
    border-radius: 0.2rem;

    &:focus {
        outline: none;
        border: 0.2rem solid var(--secondary-color);
    }

    &:disabled {
        filter: grayscale(0.5);
    }
}
