.container {
    background-color: var(--tertiary-color);
    padding: 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .left {
        max-width: 60%;

        &>span {
            word-wrap: break-word;
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}