.container {
    &>input {
        border: 0.2rem solid var(--input-color);
        border-radius: 4px;
        padding: 0.5rem;
        font-size: 1.1rem;
        width: 100%;
        color: var(--font-color);
        background-color: var(--input-color);

        &:disabled {
            cursor: no-drop;
        }
    }

    &>input:focus {
        outline: none;
        border: 0.2rem solid var(--secondary-color);
    }

    &>label {
        font-weight: bold;
    }
}